.dialogue-node-flow {
  width: 300px;
  background-color: #fefefe;
  border-radius: 10px;

  position: relative;

  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.18);

  cursor: default;
  padding: 1rem;

  .dialogue-node-flow-drag-handle {
    width: 70px;
    height: 25px;
    background-color: #666;
    position: absolute;
    top: -3px; /* sobe um pouco pra parecer uma “aba” */
    left: 50%;
    transform: translateX(-50%);
    cursor: grab;
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 20% 100%);
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }

  .dialogue-node-flow-main {
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: rgb(250, 233, 86);

    left: 0;
    top: 0;

    border-radius: 10px 0;
  }

  .dialogue-node-flow-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: dashed 1px #cecece;
    margin-bottom: 0.7rem;
  }

  .dialogue-node-flow-control-random-content {
    .dialogue-node-flow-control-random-option {
      border-top: solid 1px #241010;
      position: relative;

      padding: 0.5rem 0;

      &:first-child {
        border-top: none;
      }
    }
  }

  .dialogue-node-flow-choice-content-message {
    border-bottom: dashed 1px #cecece;
    padding-bottom: 0.7rem;
    margin-bottom: 0.7rem;
  }

  .dialogue-node-flow-choice-content-options {
    .dialogue-node-flow-choice-option {
      border-top: solid 1px #cecece;
      position: relative;

      padding: 0.5rem 0;

      &:first-child {
        border-top: none;
      }
    }
  }

  .dialogue-node-flow-input-text {
    textarea {
      margin: 0;
      padding: 0;
      font-size: 1rem;

      resize: none;
      border: 0;
      width: 100%;
      height: 150px;
    }
  }

  .dialogue-node-flow-select {
    select {
      margin: 0;
      padding: 0;

      background-color: transparent;
      border: none;
      outline: none;

      font-size: small;
      font-weight: bolder;

      text-align: left;

      &.right {
        text-align: right;
      }
    }
  }
}

.dialogue-flow-buton-add {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background-color: #4caf50;
  color: white;
  border: none;
  font-size: 1, 2rem;
  font-weight: bold;
  cursor: pointer;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); */
  transition: background-color 0.3s ease, width 0.3s ease,
    border-radius 0.3s ease, padding 0.3s ease;
  overflow: hidden;
  white-space: nowrap;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    opacity: 0;
    width: 0;
    overflow-x: hidden;
    transition: opacity 0.3s ease, width 0.3s ease;
  }

  &:hover {
    width: 5rem;
    border-radius: 40px;
    background-color: #59be5d;
    /* justify-content: flex-start; */

    span {
      opacity: 1;
      width: 2.1rem;
    }
  }
}
